src/main/webapp/wsdl/CustID.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCustomerID">
    <complexType>
     <sequence>
      <element name="Email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerIDResponse">
    <complexType>
     <sequence>
      <element name="getCustomerIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerIDResponse">

      <wsdl:part element="impl:getCustomerIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerIDRequest">

      <wsdl:part element="impl:getCustomerID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustID">

      <wsdl:operation name="getCustomerID">

         <wsdl:input message="impl:getCustomerIDRequest" name="getCustomerIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerIDResponse" name="getCustomerIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustIDSoapBinding" type="impl:CustID">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCustomerID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustIDService">

      <wsdl:port binding="impl:CustIDSoapBinding" name="CustID">

         <wsdlsoap:address location="http://localhost:8080/RideBooking/services/CustID"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
