src/main/webapp/wsdl/CustName.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCustomerFullName">
    <complexType>
     <sequence>
      <element name="Email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerFullNameResponse">
    <complexType>
     <sequence>
      <element name="getCustomerFullNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerFullNameRequest">

      <wsdl:part element="impl:getCustomerFullName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerFullNameResponse">

      <wsdl:part element="impl:getCustomerFullNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustName">

      <wsdl:operation name="getCustomerFullName">

         <wsdl:input message="impl:getCustomerFullNameRequest" name="getCustomerFullNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerFullNameResponse" name="getCustomerFullNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustNameSoapBinding" type="impl:CustName">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCustomerFullName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerFullNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerFullNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustNameService">

      <wsdl:port binding="impl:CustNameSoapBinding" name="CustName">

         <wsdlsoap:address location="http://localhost:8080/RideBooking/services/CustName"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
