src/main/webapp/wsdl/Driver.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getDriverInfo">
    <complexType/>
   </element>
   <element name="getDriverInfoResponse">
    <complexType>
     <sequence>
      <element name="getDriverInfoReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDriverInfoResponse">

      <wsdl:part element="impl:getDriverInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDriverInfoRequest">

      <wsdl:part element="impl:getDriverInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Driver">

      <wsdl:operation name="getDriverInfo">

         <wsdl:input message="impl:getDriverInfoRequest" name="getDriverInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDriverInfoResponse" name="getDriverInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DriverSoapBinding" type="impl:Driver">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDriverInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDriverInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDriverInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DriverService">

      <wsdl:port binding="impl:DriverSoapBinding" name="Driver">

         <wsdlsoap:address location="http://localhost:8080/RideBooking/services/Driver"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
