src/main/webapp/wsdl/LoginDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getLoginInfo">
    <complexType>
     <sequence>
      <element name="Email" type="xsd:string"/>
      <element name="Pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLoginInfoResponse">
    <complexType>
     <sequence>
      <element name="getLoginInfoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getLoginInfoResponse">

      <wsdl:part element="impl:getLoginInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLoginInfoRequest">

      <wsdl:part element="impl:getLoginInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoginDetails">

      <wsdl:operation name="getLoginInfo">

         <wsdl:input message="impl:getLoginInfoRequest" name="getLoginInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getLoginInfoResponse" name="getLoginInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginDetailsSoapBinding" type="impl:LoginDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLoginInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLoginInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLoginInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginDetailsService">

      <wsdl:port binding="impl:LoginDetailsSoapBinding" name="LoginDetails">

         <wsdlsoap:address location="http://localhost:8080/RideBooking/services/LoginDetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
