src/main/webapp/wsdl/RideHistory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getRideHistory">
    <complexType>
     <sequence>
      <element name="ID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRideHistoryResponse">
    <complexType>
     <sequence>
      <element name="getRideHistoryReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRideHistoryRequest">

      <wsdl:part element="impl:getRideHistory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRideHistoryResponse">

      <wsdl:part element="impl:getRideHistoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RideHistory">

      <wsdl:operation name="getRideHistory">

         <wsdl:input message="impl:getRideHistoryRequest" name="getRideHistoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRideHistoryResponse" name="getRideHistoryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RideHistorySoapBinding" type="impl:RideHistory">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRideHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRideHistoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRideHistoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RideHistoryService">

      <wsdl:port binding="impl:RideHistorySoapBinding" name="RideHistory">

         <wsdlsoap:address location="http://localhost:8080/RideBooking/services/RideHistory"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
