src/main/webapp/wsdl/RideBook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="bookARide">
    <complexType>
     <sequence>
      <element name="Pick" type="xsd:string"/>
      <element name="Drop" type="xsd:string"/>
      <element name="ID" type="xsd:int"/>
      <element name="Fare" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookARideResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="bookARideResponse">

      <wsdl:part element="impl:bookARideResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookARideRequest">

      <wsdl:part element="impl:bookARide" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RideBook">

      <wsdl:operation name="bookARide">

         <wsdl:input message="impl:bookARideRequest" name="bookARideRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookARideResponse" name="bookARideResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RideBookSoapBinding" type="impl:RideBook">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookARide">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookARideRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookARideResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RideBookService">

      <wsdl:port binding="impl:RideBookSoapBinding" name="RideBook">

         <wsdlsoap:address location="http://localhost:8080/RideBooking/services/RideBook"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
